/* Sydney theme elements: */

#content.page-wrap .content-wrapper {
        background-color: #F0F5E0;
}
.site-footer {
    display: none  !important;
}
header.entry-header {
    display: none;
}
header.entry-title {
    display: none;
}
#content.page-wrap {
    padding-top: 20px;
    padding-left: 20px;
}
.container.content-wrapper {   /* page container from Sydney */
    max-width: 800px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

#dhnl-page button {
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}

.dhnl-error {
    text-align:left;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.dhnl-problem {
    text-align:left;
    color: blue;
    font-weight: bold;
    font-size: 10px;
}